<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Events</title>
		<link rel="stylesheet" href="dependencies/reset.css?v=1.0">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura.css" type="text/css">
		<link rel="stylesheet" href="styles/sakura-reset.css?v=1.0">
		<link rel="stylesheet" href="dependencies/chota-grid.css?v=1.0">
		<link rel="stylesheet" href="styles/style.css?v=1.0">
		<!--<link rel="icon" href="favicon.ico" type="image/x-icon">-->
	</head>
	<body>
		<p style="font-size: 1em">aaaaa</p>
		<p>bbbbb</p>
		<p>ccccc</p>
		<input type="text">
		<main>
			<section class="section-edit">
				<h1 v-if="urlHash">Edit</h1>
				<h1 v-else>Create Event</h1>
				<form>
					<div class="row">
						<div class="col-8">
							<label for="title">Title</label>
							<input type="text" id="title" name="title" v-model="event.title" placeholder="My Event">
						</div>
						<div class="col">
							<label for="location">Location</label>
							<input type="text" id="location" name="location" v-model="event.location" placeholder="Location TBA">
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label for="start-datetime">Start</label>
							<input type="datetime-local" id="start-datetime" name="start-datetime" v-model="event.startDatetime" placeholder="2026-01-01">
						</div>
						<div class="col">
							<label for="end-datetime">End</label>
							<input type="datetime-local" id="end-datetime" name="end-datetime" v-model="event.endDatetime" placeholder="2026-01-01">
						</div>
						<div class="col">
							<label for="timezone">Timezone</label>
							<input type="text" id="timezone" name="timezone" v-model="event.timezone" placeholder="ACDT">
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label for="rsvp">RSVP</label>
							<input type="text" id="rsvp" name="rsvp" v-model="event.rsvp" placeholder="eventorganiser@example.com">
						</div>
						<div class="col">
							<label for="rsvp-date">RSVP Date</label>
							<input type="date" id="rsvp-date" name="rsvp-date" v-model="event.rsvpDate" placeholder="2026-01-01">
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label for="image-url">Image URL</label>
							<input type="url" id="image-url" name="image-url" v-model="event.imageUrl" placeholder="https://example.com/event-poster.png">
						</div>
						<div class="col">
							<label for="theme">Theme</label>
							<input type="text" id="theme" name="theme" v-model="event.theme" placeholder="party">
						</div>
						<div class="col">
							<label for="rng">RNG</label>
							<input type="number" min="0" max="999" step="1" id="rng" name="rng" v-model="event.rng">
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label for="description">Description</label>
							<textarea id="description" name="description" v-model="event.description" placeholder="Description here"></textarea>
						</div>
					</div>
				</form>
				<h1>Links</h1>
				<div class="links-list">
					<url-display :url="eventUrl"></url-display>
					<url-display :url="eventUrlSmallestEncoded"></url-display>
				</div>
			</section>
			<section class="section-faq">
				<h1>FAQ</h1>
				<h6>
					What is this? How do I use it?
				</h6>
				<p>gar t u ty uy iyyyfyf</p>
			</section>
		</main>
		<!--<input type="text">
		<main>
			<section class="section-edit">
				<h1 v-if="urlHash">Edit</h1>
				<h1 v-else>Create Event</h1>
				<form>
					<div class="row">
						<div class="col-8">
							<label for="title">Title</label>
							<input type="text" id="title" name="title" v-model="event.title" placeholder="My Event">
						</div>
						<div class="col">
							<label for="location">Location</label>
							<input type="text" id="location" name="location" v-model="event.location" placeholder="Location TBA">
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label for="start-datetime">Start</label>
							<input type="datetime-local" id="start-datetime" name="start-datetime" v-model="event.startDatetime" placeholder="2026-01-01">
						</div>
						<div class="col">
							<label for="end-datetime">End</label>
							<input type="datetime-local" id="end-datetime" name="end-datetime" v-model="event.endDatetime" placeholder="2026-01-01">
						</div>
						<div class="col">
							<label for="timezone">Timezone</label>
							<input type="text" id="timezone" name="timezone" v-model="event.timezone" placeholder="ACDT">
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label for="rsvp">RSVP</label>
							<input type="text" id="rsvp" name="rsvp" v-model="event.rsvp" placeholder="eventorganiser@example.com">
						</div>
						<div class="col">
							<label for="rsvp-date">RSVP Date</label>
							<input type="date" id="rsvp-date" name="rsvp-date" v-model="event.rsvpDate" placeholder="2026-01-01">
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label for="image-url">Image URL</label>
							<input type="url" id="image-url" name="image-url" v-model="event.imageUrl" placeholder="https://example.com/event-poster.png">
						</div>
						<div class="col">
							<label for="theme">Theme</label>
							<input type="text" id="theme" name="theme" v-model="event.theme" placeholder="party">
						</div>
						<div class="col">
							<label for="rng">RNG</label>
							<input type="number" min="0" max="999" step="1" id="rng" name="rng" v-model="event.rng">
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label for="description">Description</label>
							<textarea id="description" name="description" v-model="event.description" placeholder="Description here"></textarea>
						</div>
					</div>
				</form>
				<h1>Links</h1>
				<div class="links-list">
					<url-display :url="eventUrl"></url-display>
					<url-display :url="eventUrlSmallestEncoded"></url-display>
				</div>
			</section>
			<section class="section-faq">
				<h1>FAQ</h1>
				<h6>What is this? How do I use it?</h6>
				<p>
					It's a quick way to share events. Just open a new page, fill out the form, copy a link,
					and send it to friends! They can save the event to their calendars, or take a screenshot :))
				</p>
				<h6>Can I trust these event details?</h6>
				<p>
					It's as trustworthy as the person/page who sent it to you. Anyone can easily make a fake
					event, or edit the details of an existing event before forwarding it. Make sure you trust
					the person who sent you this event
				</p>
				<h6>Why is my link in Chinese?</h6>
				<p>
					Instagram allows people to share links on their story, but there's a character limit.
					It turns out that by compressing the URL and using a wider range of Unicode characters,
					we can fit a longer event into a short link. Unicode has a lot of Chinese/Asian characters,
					so the links look Chinese! It's almost guaranteed to be nonsense to a Chinese reader though.
				</p>
				<h6>Do you store my data?</h6>
				<p>
					No. The event details are stored in the link; you don't need an account or anything else.
					This site doesn't even have a database; there's no data to store! Nor are there cookies,
					tracking, ads, or anything else.
				</p>
				<h6>Does GitHub store my data?</h6>
				<p>
					Yes. GitHub keeps a log of IP addresses who access the site, and might store other
					server-side data such the URL you visited. Please consult GitHub's policies for details.
				</p>
				<h6>Can I use this site to share community/not-for-profit events?</h6>
				<p>
					Yes! Please go ahead
				</p>
				<h6>What about commercial/for-profit events?</h6>
				<p>
					Yes! Go ahead
				</p>
				<h6>What about sharing private events with friends &amp; family?</h6>
				<p>
					Yes! Go ahead, just be mindful that anyone could forward the link to new people
				</p>
				<h6>Can I copy the code and run this site on my own domain?</h6>
				<p>
					Yes, but only if you're running it without generating a profit. TBD legalese.
				</p>
				<h6>Someone sent me a dodgy event on this site. Can I hold this site liable?</h6>
				<p>
					No. TBD legalese.
				</p>
			</section>
		</main>-->
	</body>
</html>
