/*
sakura.css provides lots of useful styling. However, it also redefines 1rem,
and uses media queries based on px, whereas we want to use the browser-default
definition of 1rem (either 16px or a value chosen by the user) and use media
queries based on rem (better for accessibility). This file overrides the
sakura.css styling.
See also: https://www.joshwcomeau.com/css/surprising-truth-about-pixels-and-accessibility/
*/

/* clear all font-size media queries */
body {
	font-size: initial;
}

/* define variables to match original sakura sizes */
/* new-size = old-size * 0.625 */
:root {
	--sakura05: 0.3125rem; /* 0.5rem in sakura.css */
	--sakura135: 0.84375rem; /* 1.35rem in sakura.css */
	--sakura15: 0.9375rem; /* 1.5rem in sakura.css */
	--sakura153: 0.95625rem; /* 1.53rem in sakura.css */
	--sakura18: 1.125rem; /* 1.8rem in sakura.css */
	--sakura20: 1.25rem; /* 2.0rem in sakura.css */
	--sakura25: 1.5625rem; /* 2.5rem in sakura.css */
	--sakura30: 1.875rem; /* 3.0rem in sakura.css */
	--sakura120: 75rem; /* 120rem in sakura.css */
}

/* reset 1rem definition to use browser-default/user-settings */
html {
	font-size: initial !important;
}

/* adjust other sizes throughout sakura.css to preserve the same look while using new 1rem definition */
body {
	font-size: var(--sakura18);
}
p {
	margin-bottom: var(--sakura25);
}
h1, h2, h3, h4, h5, h6 {
	margin-top: var(--sakura30);
	margin-bottom: var(--sakura15);
}
label, legend, fieldset {
	margin-bottom: var(--sakura05);
}
ul, blockquote, img, video, pre {
	margin-bottom: var(--sakura25);
}
table {
	margin-bottom: var(--sakura20);
}

/* define new font-size media queries based on rem */
@media (max-width: 42.75rem) { /* i.e. max-width: 38em, when font-size = var(--sakura18) = 1.125rem */
	body {
		font-size: var(--sakura153);
	}
}
@media (max-width: 23.875rem) { /* i.e. approx max-width: 24.97em, when font-size = var(--sakura153) = 0.95625rem */
	body {
		font-size: var(--sakura135);
	}
}
