body {
	padding: 0;
	margin-block-end: 4em;
}

textarea { 
	resize: block;
	height: 10em;
}

input {
    width: 100%;
}

[v-cloak] {
	display: none !important;
}

.section-event-display {
	container-type: size;
	width: calc(min(100vmin, 38em));
	height: calc(min(100vmin, 38em) * 0.9);
	display: grid;
	justify-items: center;
	align-items: end;
	position: relative; /* needed for positioning calendar buttons */
}
.event-square {
	container-type: size;
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	width: 80%;
	aspect-ratio: 1;
	border: 3px solid #777777;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	padding: 3%;
}
.event-square > * {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1cqw;
	flex-wrap: nowrap;
	font-size: 3.7cqw;
}
.event-square .title h1 {
	margin: 2cqh 0 3cqh 0;
}
.event-square .date-and-time {
	
}
.event-square .rsvp {
	
}
.event-square .description {
	flex-grow: 1;
}
.event-square .description div {
	white-space: pre-wrap;
	text-align: center;
}

.section-calendar-buttons {
	container-type: size;
	display: grid;
	justify-items: center;
	align-items: center;
	height: calc(min(100vmin, 38em) * 0.1);
	margin-block-end: 6rem;
}
.calendar-buttons {
	transform: scale(calc(100cqw / 38em));
}

.section-edit {
	padding-inline: 0.75em;
}

.links-list {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.url-preview-row, .url-preview {
    display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}
.url-preview-row {
    flex-wrap: nowrap;
}
.url-preview {
	flex-grow: 1;
	padding: 1rem;
	background-color: #f1f1f1;
}
@media screen and (max-width: 599px) {
	.url-preview { flex-wrap: wrap; }
}
@media not screen and (max-width: 599px) {
	.url-preview { flex-wrap: nowrap; }
}
.url-preview .url-base {
	text-transform: uppercase;
	font-size: 0.7em;
	font-weight: bold;
	color: #A57BB0;
}
.url-preview .hash-icon-container {
	display: inline-grid;
	place-items: center;
}
.url-preview svg.hash-icon {
    grid-area: 1 / 2 / 1 / 2;
	min-width: 2rem;
	height: 2rem;
	width: 2rem;
	color: #A57BB0;
}
.url-preview .hash-text {
	grid-area: 1 / 2 / 1 / 2;
	font-size: 1.2rem;
	color: transparent;
}
.url-preview code {
	word-break: break-all;
	flex-grow: 1;
	padding: 0;
}
.url-preview-row .copy-button {
	background-color: transparent;
	border: none;
	color: #4a4a4a;
	padding: 0;
	min-width: 2.5rem;
	width: 2.5rem;
	height: 2.5rem;
}
.url-preview-row .copy-button svg {
	height: 2.5rem;
	width: 2.5rem;
}
.url-preview-row .copy-button svg.copied {
	color: #982c61;
}

.url-stats {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	font-size: 0.8em;
	margin-block-end: 0.5em;
}
.url-stats .compatibility-heading {
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: bold;
}

.section-faq {
	margin-block-start: 10rem;
	padding-inline: 0.75em;
}
.section-faq p {
	font-size: 0.8em;
}
