textarea { 
	resize: vertical; 
}

input {
    width: 100%;
}

.event-display {
	width: 100vw;
	height: 100vw;
	max-width: 100vh;
	max-height: 100vw;
	color: green;
	display: flex;
	justify-content: center;
	align-items: center;
}
.event-square {
	aspect-ratio: 1;
	color: red;
}

.url-preview-row, .url-preview {
    display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}
.url-preview-row {
    flex-wrap: nowrap;
}
.url-preview {
	flex-grow: 1;
	padding: 1rem;
	background-color: #f1f1f1;
}
@media screen and (max-width: 599px) {
	.url-preview { flex-wrap: wrap; }
}
@media not screen and (max-width: 599px) {
	.url-preview { flex-wrap: nowrap; }
}
.url-preview .url-base {
	text-transform: uppercase;
	font-size: 0.7em;
	font-weight: bold;
	color: #A57BB0;
}
.url-preview svg.hash-icon {
    min-width: 2rem;
	height: 2rem;
	width: 2rem;
	color: #A57BB0;
}
.url-preview code {
	word-break: break-all;
	flex-grow: 1;
	padding: 0;
}
.url-preview-row .copy-button {
	background-color: transparent;
	border: none;
	color: #4a4a4a;
	padding: 0;
	min-width: 2.5rem;
	width: 2.5rem;
	height: 2.5rem;
}
.url-preview-row .copy-button svg {
	height: 2.5rem;
	width: 2.5rem;
}
.url-preview-row .copy-button svg.copied {
	color: #982c61;
}

.url-stats {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	font-size: 0.8em;
	margin-bottom: 0.5em;
}
.url-stats .compatibility-heading {
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: bold;
}
