textarea { 
	resize: vertical; 
}

input {
    width: 100%;
}

.url-preview {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}
.url-preview .hash-icon {
    padding: 0;
	margin: 0;
	height: 2rem;
}
.url-preview code {
	word-break: break-all;
	flex-grow: 1;
}
.url-preview .copy-button {
	background-color: transparent;
	border: none;
	padding: 0;
	min-width: 2.5rem;
}
.url-preview .copy-button img {
	padding: 0;
	margin: 0;
	height: 2.5rem;
}
.url-preview .copy-button img.copied {
	height: 2.5rem;
	color: #A07CB6;
}

.url-stats {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	font-size: 0.8em;
	margin-bottom: 0.5em;
}
