textarea { 
	resize: vertical; 
}

input {
    width: 100%;
}

.url-preview {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}
.url-preview img {
    padding: 0;
	margin: 0;
}
.url-preview-base {

}
.url-preview-hash {
    
}
