body {
	margin-bottom: 4em;
}

textarea { 
	resize: vertical;
	height: 10em;
}

input {
    width: 100%;
}

[v-cloak] {
	display: none !important;
}

.event-display {
	width: calc(min(100vw, 100vh, 38em) - (2 * 13px));
	height: calc(min(100vw, 100vh, 38em) - (2 * 13px));
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	margin-top: 2rem;
}
.event-square {
	container-type: size;
	width: 80%;
	aspect-ratio: 1;
	border: 3px solid #777777;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}
.event-square > * {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	flex-wrap: nowrap;
	font-size: 3cqw;
}
.event-square .title h1 {
	margin-top: 1rem;
}
.event-square .date-and-time {
	
}
.event-square .rsvp {
	
}
.event-square .description {
	flex-grow: 1;
}
.event-square .description div {
	white-space: pre-wrap;
	text-align: center;
}
.event-links {

}

.links-list {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.url-preview-row, .url-preview {
    display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}
.url-preview-row {
    flex-wrap: nowrap;
}
.url-preview {
	flex-grow: 1;
	padding: 1rem;
	background-color: #f1f1f1;
}
@media screen and (max-width: 599px) {
	.url-preview { flex-wrap: wrap; }
}
@media not screen and (max-width: 599px) {
	.url-preview { flex-wrap: nowrap; }
}
.url-preview .url-base {
	text-transform: uppercase;
	font-size: 0.7em;
	font-weight: bold;
	color: #A57BB0;
}
.url-preview .hash-icon-container {
	display: inline-grid;
	place-items: center;
}
.url-preview svg.hash-icon {
    grid-area: 1 / 2 / 1 / 2;
	min-width: 2rem;
	height: 2rem;
	width: 2rem;
	color: #A57BB0;
}
.url-preview .hash-text {
	grid-area: 1 / 2 / 1 / 2;
	font-size: 1.2rem;
	color: transparent;
}
.url-preview code {
	word-break: break-all;
	flex-grow: 1;
	padding: 0;
}
.url-preview-row .copy-button {
	background-color: transparent;
	border: none;
	color: #4a4a4a;
	padding: 0;
	min-width: 2.5rem;
	width: 2.5rem;
	height: 2.5rem;
}
.url-preview-row .copy-button svg {
	height: 2.5rem;
	width: 2.5rem;
}
.url-preview-row .copy-button svg.copied {
	color: #982c61;
}

.url-stats {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	font-size: 0.8em;
	margin-bottom: 0.5em;
}
.url-stats .compatibility-heading {
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: bold;
}

.faq {
	margin-top: 10rem;
}
.faq p {
	font-size: 0.8em;
}
