textarea { 
	resize: vertical; 
}

input {
    width: 100%;
}

.url-preview {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}
.url-preview img {
    padding: 0;
	margin: 0;
	height: 2rem;
}
.url-preview code {
	word-break: break-all;
}
.url-preview button {
	background-color: transparent;
	border: none;
	padding: 0;
	min-width: 2rem;
}
.url-preview button img {
	height: 2rem;
}
